/*=============================================
Base
=============================================*/

p,
li {
    line-height: 1.7em;
}
ol,
ul {
    padding-left: 1.2em;
}

ul > li {
    list-style-type: square;
}
ol > li {
    list-style-type: decimal;
}
ol ul {
    padding-left: 0;
    & > li {
        list-style-type: none;
    }
}
a {
    &:hover {
        color: #1a53e5;
    }
}
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: '';
    }
    &:after {
        clear: both;
    }
}
.fwb {
    font-weight: bold;
}
.text-green {
    color: #10c060;
}
.text-red {
    color: #d74c8c;
}
.text-blue {
    color: #005bab;
}
.stripe-1 {
    background: repeating-linear-gradient(
        135deg,
        #f6c7d0,
        #f6c7d0 10px,
        #f8d3d9 10px,
        #f8d3d9 20px
    );
}
.stripe-3 {
    background: repeating-linear-gradient(
        135deg,
        #d2f8d5,
        #d2f8d5 10px,
        #dbfadc 10px,
        #dbfadc 20px
    );
}
.stripe-2 {
    background: repeating-linear-gradient(
        135deg,
        #fcec9a,
        #fcec9a 10px,
        #fde77f 10px,
        #fde77f 20px
    );
}
.hr-border {
    width: 60%;
    height: 2px;
    margin: 30px 0;
    border-bottom: 5px dashed #8e5b4a;
}
.fixed-bind {
    width: 70px;
    position: fixed;
    right: 10px;
    z-index: 10;
    bottom: 100px;
    animation: swing 4s infinite;
}
@media only screen and (max-width: 960px) {
    .hr-border {
        margin: 15px 0;
        border-bottom: 3px dashed #8e5b4a;
    }
}
/*=============================================
Main
=============================================*/
.main {
    padding-top: 80px;
    overflow: hidden;
    background: #92cce8;
}
/*=============================================
KV
=============================================*/
.KV {
    height: 700px;
    background: url(img/kv-bg.jpg) no-repeat bottom center;
    background-size: 1920px auto;
    &__wrap {
        position: relative;
        width: 1040px;
        margin: 0 auto;
        text-align: center;
        height: 100%;
    }
}
.KVContent {
    position: relative;
    height: 100%;
    .anim {
        position: absolute;
    }
    .banknote-l,
    .banknote-r {
        display: block;
    }
    .banknote-l {
        left: 210px;
        top: 50px;
        width: 80px;
        height: 65px;
        background: url(img/banknote-l.png) no-repeat center;
        background-size: contain;
        transform-origin: right bottom;
        animation: 1s ease-in-out 0s infinite alternate-reverse flap-wing;
    }
    .banknote-r {
        right: 261px;
        width: 80px;
        height: 85px;
        top: 45px;
        background: url(img/banknote-r.png) no-repeat center;
        background-size: contain;
        transform-origin: left bottom;
        animation: 1s ease-in-out 0s infinite alternate flap-wing;
    }

    .kvtitle {
        display: block;
        width: 923px;
        height: 210px;
        background: url(img/kv-title.png) no-repeat center;
        background-size: cover;
        top: 50px;
        left: 35px;
    }
    .gift {
        display: block;
        width: 184px;
        height: 160px;
        background: url(img/kv-gift.png) no-repeat center;
        background-size: cover;
        left: 235px;
        bottom: 105px;
    }
    .phone {
        display: block;
        width: 320px;
        height: 354px;
        background: url(img/kv-phone.png) no-repeat center;
        background-size: cover;
        left: 280px;
        bottom: 95px;
    }
    .coins {
        display: block;
        width: 150px;
        height: 116px;
        background: url(img/kv-coins.png) no-repeat center;
        background-size: cover;
        left: 375px;
        bottom: 85px;
    }
    .people {
        display: block;
        bottom: 65px;
        &.ruru {
            background: url(img/kv-ruru.png) no-repeat center;
            background-size: cover;
            width: 85px;
            height: 150px;
            left: 170px;
        }
        // transform-origin: bottom center;
        // animation: swing 3s reverse infinite;
        &.paygi {
            width: 400px;
            height: 330px;
            background: url(img/kv-paygi.png) no-repeat center;
            background-size: cover;
            left: unset;
            right: 130px;
            transform-origin: bottom center;
            animation: swing 3s infinite;
        }
    }
}

@keyframes flap-wing {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

@keyframes swing {
    20% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media only screen and (max-width: 960px) {
    .main {
        padding-top: 58px;
    }
    .KV {
        background: url(img/kv-bg-m.jpg) no-repeat bottom center;
        background-size: contain;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 0;
        padding-bottom: 86.5%;
        &__wrap {
            width: 100%;
        }
    }
    .KVContent {
        display: none;
    }
}
/*=============================================
Content
=============================================*/
.content {
    position: relative;
    // background: #92cce8
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;

        width: 100%;
        height: 100%;

        background-image: url(img/bg-dec.png);
        background-repeat: repeat-y;
        background-position: top center;
        background-size: contain;

        animation-name: moving;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
    }
    // background-image: url(img/bg-dec.png);
    // background-repeat: repeat-y;
    // background-position: top center;
    // background-size: contain;
    &__wrap {
        padding: 20px 0 50px 0;
        z-index: 1;
        position: relative;
    }
}

@keyframes moving {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

@media only screen and (max-width: 960px) {
    .content {
        &__wrap {
            padding: 20px 10px;
            left: 0;
            top: 0;
        }
    }
}
/*=============================================
Penal
=============================================*/
.penal {
    position: relative;
    overflow: hidden;
    border: 5px solid #3c130e;
    border-radius: 25px;
    background-color: #fffffe;
    padding: 90px 40px;
    padding-bottom: 40px;
    max-width: 1080px;
    margin: 50px auto;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.7em;
    color: #333333;
    font-weight: bold;
    word-break: break-word;
    &.active {
        padding: 26px 40px;
    }
    &.thin {
        p,
        li {
            font-weight: normal;
            line-height: 1.9em;
        }
        .penal__title {
            cursor: pointer;
        }
    }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 26px;
        display: block;
        text-align: center;
        color: #3c130e;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 5px solid #3c130e;
        &.stripe-2 {
            &::before,
            &::after {
                background-image: url(img/dec-cross-y.png);
            }
        }
        &.stripe-1 {
            &::before,
            &::after {
                background-image: url(img/dec-cross-p.png);
            }
        }
        &.stripe-3 {
            &::before,
            &::after {
                background-image: url(img/dec-cross-g.png);
            }
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 25px;
            height: 25px;
            background-size: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            left: 15px;
        }
        &::after {
            right: 15px;
        }
    }
    p {
        padding-bottom: 0;
    }
    a {
        color: #1a53e5;
        display: inline-block;
    }
}

.main-title {
    max-width: 500px;
    margin: 0 auto;
}
.inlineList {
    display: flex;
    align-items: center;
    .list-title {
        max-height: 60px;
        margin-right: 10px;
    }
}
.list-title {
    // max-width: 140px;
    max-height: 60px;
    margin: 16px 0;
    img {
        width: auto;
        max-height: 100%;
    }
}
.text-date {
    max-width: 432px;
}
.icon-gift {
    width: 38px;
    height: 38px;
    vertical-align: bottom;
    margin-right: 5px;
}
.btnArea {
    text-align: center;
    margin: 10px 0;
}
.btn {
    width: 400px;
    height: 100px;
    // background-position: 50% 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 10px;
    transition: all 0.3s;
    &.btn-01 {
        background-image: url(img/btn-01.png);
    }
    &.btn-02 {
        background-image: url(img/btn-02.png);
    }
    &.btn-03 {
        background-image: url(img/btn-03.png);
    }
    &.btn-04 {
        background-image: url(img/btn-04.png);
    }
    &:hover {
        // background-position: 50% 0%;
        transform: translateY(3px);
    }
}

@media only screen and (max-width: 960px) {
    .penal {
        border: 3px solid #3c130e;
        border-radius: 30px;
        padding: 20px;
        //title
        padding-top: 70px;
        &.active {
            padding: 10px 40px;
            padding-top: 42px;
        }
        &__title {
            border-bottom: 3px solid #3c130e;
        }
    }
    .main-title {
        max-width: 300px;
    }

    .btn {
        width: 45%;
        height: 0;
        padding-bottom: 12%;
        background-size: 100% auto;
    }
}
@media only screen and (max-width: 560px) {
    .btn {
        width: 80%;
        padding-bottom: 25%;
        background-size: 100% auto;
        margin: 0 auto;
    }
    .inlineList {
        flex-direction: column;
        align-items: flex-start;

        .list-title {
            max-height: 40px;
            img {
                max-height: 40px;
            }
        }
    }
    .list-title {
        max-height: 40px;
        img {
            max-height: 40px;
        }
    }
}

.content > * {
    animation-duration: calc(1s * 0.75);
    animation-duration: calc(var(--animate-duration) * 0.75);
}
/*=============================================
award
=============================================*/
.award {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    &__info {
        width: 100%;
        padding: 0 70px;

        .title {
            max-width: 600px;
            margin-bottom: 2em;
        }
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .tol {
            padding: 0 35px;
        }
        p {
            width: 70%;
        }
        .pic {
            margin-left: 1.5em;
            // display: block;
            max-width: 200px;
        }
    }
}
@media only screen and (max-width: 960px) {
    .award {
        margin-bottom: 30px;
        &__info {
            width: 100%;
            padding-right: 0;
            padding: 0;

            .title {
                max-width: 100%;
                margin-bottom: 20px;
            }
            .pic {
                width: 50%;
                margin: 20px 0;
            }
            .tol {
                padding: 0 30px 0 50px;
            }
            .text {
                flex-direction: column;
                padding: 0 30px;
            }
            p {
                width: 100%;
            }
        }
    }
}

/*=============================================
appDownload
=============================================*/

.appDownload-container {
    width: 100%;
    text-align: center;
    background-color: #e1f3fe;
    padding: 1em;
}

.appDownload h5 {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #000;
    margin-bottom: 13px;
}

@media (min-width: 768px) {
    .appDownload h5 {
        font-size: 0.95em;
        font-weight: bold;
    }
}

.appDownload h4 {
    font-size: 1.125em;
    line-height: 2em;
    color: #000;
    margin-bottom: 0.6em;
}

.appDownload-appQRcode {
    display: none;
}

@media (min-width: 992px) {
    .appDownload-appQRcode {
        display: inline-block;
        vertical-align: middle;
        padding-right: 1.2em;
    }
}

.appDownload-appQRcode img {
    max-width: 100px;
}

.appDownload-appLink {
    display: inline-block;
    vertical-align: middle;
}

.appDownload-appLink a {
    width: 45%;
    max-width: 170px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.2em;
    -webkit-transition: 0.15s 0.02s ease-in all;
    -o-transition: 0.15s 0.02s ease-in all;
    transition: 0.15s 0.02s ease-in all;
}

@media (min-width: 768px) {
    .appDownload-appLink a {
        width: 140px;
    }
}

@media (min-width: 1200px) {
    .appDownload-appLink a {
        width: 170px;
    }

    .appDownload-appLink a:hover {
        -webkit-transform: translate(0, -10%);
        -ms-transform: translate(0, -10%);
        transform: translate(0, -10%);
    }
}
